In [116]:
import pandas as pd

In [117]:
df =pd.read_csv('payroll_dataset.csv')

In [118]:
df.isnull().sum()

EmployeeID      0
Name            0
DepartmentID    0
Salary          0
HireDate        0
Location        0
dtype: int64

In [119]:
employee_df=pd.DataFrame(df)

In [120]:
department_df=pd.DataFrame(df)

In [121]:
merged_df=pd.merge(employee_df, department_df, on ='DepartmentID',how ='left')

In [122]:
print(merged_df.head())

   EmployeeID_x      Name_x DepartmentID  Salary_x  HireDate_x Location_x  \
0             1  Employee 1         D001      6000  2020-01-31   New York
1             1  Employee 1         D001      6000  2020-01-31   New York
2             1  Employee 1         D001      6000  2020-01-31   New York
3             1  Employee 1         D001      6000  2020-01-31   New York
4             1  Employee 1         D001      6000  2020-01-31   New York

   EmployeeID_y       Name_y  Salary_y  HireDate_y Location_y
0             1   Employee 1      6000  2020-01-31   New York
1             5   Employee 5      6400  2020-05-31   New York
2             9   Employee 9      6800  2020-09-30   New York
3            13  Employee 13      7200  2021-01-31   New York
4            17  Employee 17      7600  2021-05-31   New York

merged_df.drop_duplicates(subset ='EmployeeID',inplace=True)

In [123]:
if 'Salary' in merged_df.columns:

SyntaxError: incomplete input (2164522219.py, line 1)

In [ ]:
Q1 = merged_df['Salary'].quantile(0.25)

In [ ]:
Q3 = merged_df['Salary'].quantile(0.75)

In [ ]:
IQR = Q3 - Q1

In [ ]:
lower_bound =Q1 - 1.5*IQR

In [ ]:
upper_bound = Q3+1.5*IQR